h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

#spacer {
    height: 50px;
}

#side-by-side {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#red, #green, #blue {
    width: 33%;
    height: 100px;
}

#bing-chilling {
    max-width: 50vw;
    max-height: 20vh;
}