@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    padding: 15vh 30vw;
    font-family: "Mulish", "Arial", sans-serif;
}

#toggle-theme {
    margin-bottom: 4vh;
}

#title {
    font-weight: bold;
    font-size: 4vh;
    margin-bottom: 4vh;
}

#subheader {
    font-size: 2vh;
}

#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}

#bing-chilling {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}